/*---------------------------------------------------------------------*/
/* Global
/*---------------------------------------------------------------------*/
body {
  background-color: #000000;
}
.content{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.section{
  position: relative;
  background-size: cover;
  text-align:center;
}
.green-text-color {
  color: #A5FF00 !important;
}
.dark-outline {
  text-shadow: -1px 0 #000000, 0 1px #000000, 1px 0 #000000, 0 -1px #000000;
}
/*---------------------------------------------------------------------*/
/* Info
/*---------------------------------------------------------------------*/
#info .pulse {
  margin: 0 auto;
  animation:
    stretch
    1s
    ease-out
    0s
    alternate
    infinite
    none
    running;
}
@keyframes stretch {
  0% {
    transform: scale(.8);
  }
  100% {
    transform: scale(1.0);
  }
}
/*---------------------------------------------------------------------*/
/* Skills
/*---------------------------------------------------------------------*/
@media only screen and (max-device-width: 823px) and (orientation: landscape) {
  #skills .middle {
    position: fixed !important;
  }
  #skills h4 {
    margin: 0.62rem 0 0.203rem 0;
  }
}
#skills .middle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50%;
  margin: auto;
}
#skills .carousel {
  height: 250px ;
}
#skills .typing {
  color: #A5FF00;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  animation:
    animated-text 2s steps(30, end) 1s 1 normal both
}
@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 305px;
  }
}
#skills .cursor {
  border-bottom: solid 3px #A5FF00;
  position: absolute;
  right: -7px;
  width: 25px;
  animation:
    animated-cursor 600ms steps(30, end) infinite;
}
@keyframes animated-cursor{
  from {
    border-bottom-color: #A5FF00;
  }
  to {
    border-bottom-color: transparent;
  }
}
#skills .tabs {
  background-color: #000000;
}
#skills li.tab a {
  color: #A5FF00;
}
#skills li.tab a.active {
  color: #A5FF00;
}
#skills .tabs .indicator {
  background-color: #A5FF00;
}
/*---------------------------------------------------------------------*/
/* Photography
/*---------------------------------------------------------------------*/
#photography img {
  background-color: #000000 !important;
}
#photography .slider .indicators .indicator-item {
  background-color:  #FFFFFF !important;
}
#photography .slider .indicators .indicator-item.active {
  background-color:  #A5FF00 !important;
}
/*---------------------------------------------------------------------*/
/* Contact
/*---------------------------------------------------------------------*/
#contact span.divider {
  display: block;
  margin: 15px 0px;
  width: 120px;
  height: 5px;
  background-color: #A5FF00;
}
#contact span.divider.center {
  margin-right: auto;
  margin-left: auto;
}
#contact .padding-top{
  padding-top: 20px;
}
#contact .icon {
  padding-left: 7px;
  padding-right: 7px;
}

